body {
    margin:0 0 0 0;
    padding:0;
    font-family:Roboto;
}

#timeline {
    width:300%;
    position:fixed;
    margin:10% 0 0 -100%;
    -webkit-overflow-scrolling: touch;
}

.column {
    text-transform:uppercase;
    display:block;
    height:103%;
    border-right:1px solid #ddd;
    position:absolute;
    top:-5%;
    text-align:center;
    z-index:-1;
}

.column:hover {
}

.column .head {
    font-weight:normal;
    color:red;
}

.column .head:hover {
    background:red;
    color:white;
    cursor:hand;
}

.period {
    width:10%;
    position:absolute;
    background:white;
    margin-left:45%;
    font-size:20px;
    top:-10%;
    color:red;
    padding:.25em;
    cursor:hand;    
}

.period:hover {
    background:red;
    color:white;
    cursor:hand;
}
div#main-links {
}
div#statusbar {
    width:100%;
    height:20px;
    background:white;
    padding:15px;
    position:fixed;
    border-bottom:1px solid black;
    font-size:20px;
}
#mousepos {
    font-family:monospace;
}

#notebook-toggle, #list-toggle, #account-login, #account-create {
    color:red;
    cursor:hand;    
}

/* Form */
form#search-form {
    width:25%;
    background:white;
    height:20px;
    display:block;
    padding:0px;
    top:15px;
    position:absolute;
    left:50%;
    margin:0px;
}

#search-form input {
    margin:0px;
    padding:0px;
    font-size:20px;
    color:#888;
    border:none;
}

input#search-input {
    width:85%;
    border-bottom:1px solid black;
    padding-left:15px;
}

input#search-input:focus, input#search-input:hover {
    outline:none;
    color:black;
}

input#search-submit {
    padding:0 10px 0 10px;
    background:white;
    color:red;
    cursor:hand;        
}

input#search-submit:hover {
}

input#search-submit:focus {
}

/* Login */
div#login {
    width:25%;
    top:15px;
    border-left:1px solid black;
    padding-left:15px;
    position:absolute;
    left:75%;    
}

/* Grid */
.cell {
    position:absolute;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}
.panel {
    width:100%;
    height:100%;
    position:fixed;
    text-align:center;
    border-right:1px solid black;
}

#buffer {
    width:100%;
    height:1000px;
    margin-top:10000px;
    position:fixed;
}

.event {
    position:absolute;
    text-align:left;
    font-size:80%;
}

.event .inner {
    margin:0.25em;
    padding:0.5em;
    background:white;
    border:1px solid #ddd;
/*    box-shadow:2px 2px 2px #888; 
    border-radius:.5em; */
    overflow:hidden;
}

.event .inner .datetime {
    font-weight:bold;
    display:inline-block;
    margin:0 1em 0 0;
    text-transform:uppercase;
    color:#888;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}     

/* Notebook */

div#notebook {
    width:50%;
    height:90%;
    margin:10% 0 0 50%;
    border-left:1px solid black;
    box-shadow:-4px 2px 6px #aaa;
    background:white;
    position:fixed;
    display:block;
}

/* Notebook */
div#notebook {
    width:50%;
    height:90%;
    margin:10% 0 0 50%;
    border-left:1px solid black;
/*    box-shadow:-4px 2px 6px #aaa; */
    background:white;
    position:fixed;
    display:none;
}
div#notebook-menu {
    padding:0 0 0 2.5%;
    color:#888;
}
div#notebook h2 {
    padding:0 0 0 2.5%;
    color:#400;
    font-size:15pt;
}
div#notebook-events {
    width:50%;
    position:absolute;
    height:100%;
    overflow:auto;
}
div.notebook-event {
    border:1px solid black;
    font-size:70%;
    padding:0.25em;
    background:#eef;
}
div.medium-editor-element {
    border:1px solid black;
}
div#notebook-text {
    width:50%;
    margin-left:50%;
    position:absolute;
    height:100%;
    overflow:auto;
    border-left:1px solid #aaa;
}

div.notebook-span {
    padding:.5em;
    background:white;
}

a.play {
    color:red;
    cursor:hand;
    display:block;
    float:right;
    display:absolute;
    top:0px;
}
a.play:hover {
    background:red;
    color:white;
}
span.asnote {
    color:red;
    cursor:hand;
    display:block;
    float:right;
    font-size:20px;
    display:absolute;
    color:red;
}
.text {
    color:#444;
}
div#player {
    background:red;
    left:100%;
    float:right;
    margin-top:20%;
    margin-right:0.5em;
    z-index:10000;
}

