body {
    margin:0;
    padding:0;
    position:fixed;
    font-family:'Open Sans', sans-serif;
}
.App {
    width:100%;
    height:100%;
    position:fixed;
}

.Nav {
    width:100%;
    height:10%;
    position:fixed;
    background:white;
    font-size:80%;
    box-shadow: inset 0 -1px 0 black;
    
}

.Timeline, .Editor {
    top:10%;
    height:90%;
    position:absolute;    
}

.Timeline {
    width:100%;
    /* left:-100%; */
    position:fixed;
}

#Panels {
    height:100%;
}

.Panel {
    height:100%;
}

.Editor {
    width:50%;
    background:lightblue;
    left:50%;
    border-left:1px solid black;
    opacity:1;
}

h1, h2, h3, h4, h5, h6, h7 {
    text-align:left;
    margin:0;
    padding:0;
    font-weight:normal;
}
h1 {
    font-size:200%;
}

h1 a:hover {
    background:black;
    color:white;
}

h1 a {
    text-decoration:none;
    color:black;
    width:100%;
    display:block;
}

.show {
    display:none;
}

.hide {
    display:block;
}

.column {
    box-sizing:border-box;
    border-left:1px solid black;
    min-height:100%;
    
}

.column a:hover {
    background:black;
    color:white;
}

.event {
    box-sizing:border-box;
    border-top:1px solid #00F;
    border-left:1px solid #00F;    
    position:absolute;
    background:white;
    font-size:9pt;
}

.event button {
    float:right;
    display:inline;
}
#buffer {
    position:fixed;
    top:100%;
    width:100%;
    height:90%;
}

.notebook-event-list {
    overflow:auto;
    height:95%;
    width:50%;
}
.notebook-event {
    width:100%;
    font-size:8pt;
    font-family:Arial;
    background:white;
    border-bottom:1px solid #ccc;
}

.Manuscript {
    width:49%;
    margin-left:50%;
    background:#dff;
    height:100%;
    top:0;
    position:absolute;

}

.active-true {
    background:black;
    color:white;
}

.Timelist {
    position:fixed;
    top:10%;
    height:90%;
    overflow:auto;
    width:50%;
    left:0;
             
}

textarea {
    width:95%;
}

button.new {
    display:block;
    float:right;
}

.EventEditor {
    position:fixed;
    width:50%;
    left:25%;
    top:25%;
    background:yellow;
    opacity:80%;
}

.Timelist {
    width:100%;
    width:50%;
    height:90%;
    top:10%;
    position:fixed;
    overflow:auto;
    
}
.timelist-event {
    border-bottom:1px solid #ccc;
    padding:1em;
}

.dtsince {
    background:black;
    color:white;
}

.event-meta {
    float:right;
    text-align:right;
    position:absolute;
    right:0;
}
.event-meta a {
    text-decoration:none;
}

button, input.inputButton {
    text-transform:uppercase;
    color:black;
    background:white;    
    border:1px solid #ccc;
    margin:0px 0px 0px 2px;
    border-radius:8px;    
}
button:active, input.inputButton:active {
    background:white;
    color:black;
}
.login {
    padding:0.5em 1em 0 0;

    font-weight:bold;
    float:right;

    text-align:right;
}
button.logout {
    margin-left:1em;
}

.searchBox {
    padding:1em 0 1em 0;
    width:75%;
    background:white;
}
.subsearch {
    padding-right:1em;
    width:20%;
}

.subsearch input {
    font-family:'Open Sans', sans-serif;
    padding:0.15em;
    width:10%;
    font-size:10pt;
}

input.loginButton {
    background:red;
    border:pink;
    color:white;
    font-weight:bold;
}

th {
    font-weight:normal;
    text-transform:uppercase;
    font-size:9pt;
}
