body {
    margin:0;
    padding:0;
    position:fixed;
    font-size:11.5pt;
    font-family: 'IBM Plex Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6, h7 {
    color:deepskyblue;
    text-align:left;
    margin:0;
    padding:0;
    font-weight:normal;
}

h1 {
    font-size:200%;
    color:deepskyblue;
}

h1 a:hover {
    color:lightskyblue;
}

.Panel h1 {
    color:lightskyblue;
}

.Panel h1 a {
    text-decoration:none;
    color:white;    
    width:100%;
    display:block;
}

.input, th, td {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height:150%;
    color:#666;
}

.App {
    width:100%;
    height:100%;
    position:fixed;
}

.Nav {
    padding-left:1em;
    width:100%;
    vertical-align: middle;
    line-height:90px;    
    line-height:150%;
    min-height:35px;
    height:5%;    
    position:fixed;
    background:deepskyblue;
    color:white;
}

.Nav > table {
    height:100%;
}
.Nav a {
    color:white;
    text-decoration:none;
    padding-right:0.5em;
}
.Nav .logo {
    font-weight:bold;
    color:white;
}
.Nav a:hover {
    text-decoration:underline;
}

.Timeline, .Editor, .NotebookList, .Manuscript, .TimelineList {
    top:5%;
    height:95%;
    position:fixed;
    background-color:white;
}

.Timeline {
    width:100%;
    height:95%;
    position:fixed;
    z-index:0;
}


.Editor, .NotebookList, .TimelineList {
    width:50%;
    background:white;
    padding:0% 0% 0% 0%;
    overflow:auto;
}
.NotebookList, .TimelineList {
    left:0%;
}


#Panels {
    height:100%;
}

.Panel {
    height:100%;
    background:lightskyblue;
    float:left;
    position:absolute;
    width:100%;
    cursor:ew-resize;
}

.Panel h1 {
    font-size:11.5pt;
    padding:0.5em 1em 0.5em 1em;
    font-weight:normal;
    left:0.25em;
    border-top:1px solid deepskyblue;
}
.Panel h1 a {
    font-weight:normal;
    display:inline;
}


.column {
    box-sizing:border-box;
    border-left:1px solid deepskyblue;
    min-height:96%;
    float:left;
    font-size:11.5pt;
    text-align:center;
    height:100%;
    padding-top:0.25%;
}

.column a {
    text-decoration:none;
    display:block;
    width:100%;
    color:white;
}

.column a:hover {
    background:black;
    color:white;
}

.event {
    box-sizing:border-box;
    position:absolute;
    font-size:9pt;
}

.event-inner {
    background:white;
    margin:1em;
    padding:1em;
    border-top:1px solid deepskyblue;
    border-left:1px solid deepskyblue;
    border-radius:0.75em;
}
.event button {
    float:right;
    display:inline;
}

#buffer {
    position:fixed;
    top:100%;
    width:100%;
    height:95%;
}

.notebook-event-list {
    overflow-y:auto;
    width:50%;
    height:95%;
    margin-bottom:500px;
    width:50%;
}

.note {
    font-size:10pt;
    font-family:sans-serif;
    background:white;
    border-bottom:1px solid #ccc;
}

.note-inner {
    margin:0.5em;
    line-height:149%;
}

.note-event a {
    text-decoration:none;
    border-bottom:1px solid #662;
    font-weight:bold;
}

.note-event {
    padding:0.5em;
}

.note-nav {
    text-align:right;
}

.public-DraftEditor-content {
    margin-top:0.5em;
    padding:0.5em;
    font-family:serif;
    font-size:10pt;
    border:1px dotted #ccc;
    background:#lightblue;
    font-family: 'IBM Plex Sans', monospace;
    width:90%;
}

.public-DraftEditor-content:focus {
    background:white;
}

.Manuscript {
    width:50%;
    left:50%;
    background:#fff;
    position:absolute;
    font-family: 'IBM Plex Serif', serif;
    overflow:auto;
    padding:3em;
    border-left:0.05em solid deepskyblue;
}

div.manuscript-inner {
    width:80%;
    margin:10%;
}

.preview {
    height:95%;
    padding:1em 0 0 0;
    line-height:150%;
    overflow:auto;
}
.preview h1 {
    text-align:center;
    line-height:150%;
}
.preview h2 {
    text-align:center;
    line-height:150%;
}
.preview .description {
    padding-top:0.5em;
    text-align:center;
    font-style:Italic;
}

.active-true {
    background:black;
    color:white;
}

div.Timelist {
    width:50%;
    left:0%;
    height:95%;
    top:5%;
    position:fixed;
    background:white;
    overflow:auto;
    margin-bottom:1000px;
    padding:1em;
}

.timelist-image {
    width:100%;
    max-height:200px;
}

div.Timelist div.timelist-meta-content {
    margin-top:4em;
    margin-bottom:4em;

}

div.Timelist div.citation a {
    text-decoration:none;
    color:deepskyblue;
}

div.Timelist div.timespan {
    font-style:italic;
    padding:1em 0 1em 0;
}
div.Timelist div.description {
    color:#666;
    font-size:100%;
    line-height:1.5em;
    font-style:Italic;
    text-align:justify;
    hyphens: auto;    
}

div.Timelist table.meta {
    border-left:1px solid red;
    width:50%;
    margin-left:2.5%;
    float:right;
}

div.Timelist table.meta tr {
}

div.Timelist table.meta th {
    width:25%;
    padding-right:0.5em;
}

div.Timelist table.meta td, div.Timelist table.meta th {
    padding-left:0.5em;
    vertical-align:top;
    line-height:150%;
}

div.Timelist div.description i, div.Timelist div.description em {
    padding-top:1em;
    font-style:normal;
}

div.Timelist div.meta {
    padding-top:1em;
}

table {
    border-collapse:collapse;
}

tr.timelist {
    border-bottom:1px solid red;
    
}
tr.timelist td {
    vertical-align:top;
}

.timeline-image {
    width:5em;
    max-height:5em;
    float:left;
    margin:0 1em 1em 0;
    border:1px solid #ccc;
    max-height:200px;
}


td.meta {
    text-align:right;
    width:25%;
    font-size:9pt;
    line-height:125%;    
    padding:0.5em 0.5em 1.5em 1em;        
}

div.collection {
    text-align:right;
}

div.collection div {
    margin-bottom:0.5em;
}

td.content {
    width:75%;
    text-align:justify;
    hyphens: auto;
    color:#555;
    font-size:11pt;
    padding:0.5em 0.5em 1.5em 1em;
}

td.content .event-title {
    font-weight:bold;
/*
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace;
*/
}

td.image {
    height:100%;
}

td a {
    text-decoration:none;
    color:deepskyblue;    
}

div.dt {
    font-weight:bold;
    color:#444;
}

div.title {
    font-size:10pt;
}

.dtsince {
    background:blue;
    color:white;
    padding-left:1em;
}


.list-object-button, .button, button, input.inputButton {
    color:black;
    font-size:10pt;
    color:black;
    margin:0 0.5em 0 0;
    padding:0 0.5em 0 0.5em;
    background:white;
    border:1px solid #ABC;
    border-radius:4px;
    vertical-align:middle; 
    cursor:pointer;
    text-decoration:none;
}

.list-object-button:active, .list-object-button:hover,
.button:active, .button:hover,
button:active, button:hover,
input.inputButton:active {
    background:white;
    color:black;
}
.login {
    padding:0.5em 1em 0 0;

    font-weight:bold;
    float:right;

    text-align:right;
}
button.logout {
    margin-left:1em;
}


.subsearch {
    padding-left:0.5em;
    width:20%;
    font-size:9pt;
    line-height:149%;
}

.subsearch input {
    padding:0.05em;
    width:10%;
    background:#eee;
    border:1px solid gray;
    padding-left:0.25em;
    text-transform:none;    
    font-size:9pt;
}

th {
    font-weight:normal;
}

.rangeInput {
    width:90%;
}

.move-target {
    background:yellow;
    width:100%;
    height:10%;
}


.order {
    font-size:100%;
    display:block;
    float:right;
    margin-right:0.5em;
    
}

.saved {
    color:darkgreen;
}

.unsaved {
    color:red;
}

span.status {
    padding-left:0.5em;
    text-align:right;
}
th {text-align:right;}


span.search-input {
    padding-top:1%;
}
div.search-ruby {
    font-size:8pt;
    color:#888;
    width:100%;
    text-align:center;
}

.eventNoteButton {
    float:right;
}
form.search {
    display:inline;
}

.About {
    text-align:justify;
    hyphens: auto;
    line-height:150%;
    padding:5% 40% 25% 10%;
}

.About h1, .About h2, .About h3 {
    line-height:150%;
    font-weight:normal;
    padding:1em 0 0 0;
}

.About h1 {
    padding:0 0 0.5em 0;    
}


div.loading {
    width:100%;
    padding:3em 0 0 0;
    text-align:center;
    opacity: 1;
    animation: fade 0.5s linear;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* 
   Listings of timelines and notebooks.
*/

.list-object {
    padding:5% 10% 0 10%;
    margin:0 0 10em 0;    
    background:white;
    height:100%;
}

table.list-object-table {
    margin:1% 0 0 0;
    width:100%;
    border-collapse:collapse;
}

tr.list-object-tr {
    border-bottom:1px solid red;
}

table.list-object-table th {
    font-weight:bold;
    vertical-align:bottom;
}

table.list-object-table td {
    vertical-align:top;
}
table.list-object-table td,
table.list-object-table th {
    font-size:11pt;
    padding:1.25em 0.5em 1.25em 0;    
    
}
td.list-object-date-td,
th.list-object-date-th {
    width:10%;
    text-align:left;
}
td.list-object-creator-td,
th.list-object-creator-th {
    width:10%;
    text-align:left;
}
td.list-object-meta-td,
th.list-object-meta-th {
    width:70%;    
    text-align:left;
}
td.list-object-published-td,
th.list-object-published-th {
    width:15%;        
    text-align:left;
}
div.list-object-title {
    font-weight:bold;
}
div.list-object-byline {
}
div.list-object-description {
    font-variant:Italic;
}
div.list-object-published-Public {
    font-weight:bold;
}
div.list-object-published-Private {
    font-weight:normal;
}
