body {
    margin:0;
    padding:0;
    position:fixed;
    font-size:13pt;
/*    font-family:'Open Sans', sans-serif; */
}
.input, th, td {
/*    font-family:'Open Sans', sans-serif; */
}
.App {
    width:100%;
    height:100%;
    position:fixed;
}

.Nav {
    width:100%;
    height:10%;
    position:fixed;
    background:white;
    font-size:80%;
    box-shadow: inset 0 -1px 0 #eee;
}

.Timeline, .Editor {
    top:10%;
    height:90%;
    position:absolute;    
}

.Timeline {
    width:100%;
    /* left:-100%; */
    position:fixed;
}

#Panels {
    height:100%;
}

.Panel {
    height:100%;
}

.Editor {
    width:50%;
    background:white;
    left:50%;
    border-left:1px solid black;
    opacity:1;
}

h1, h2, h3, h4, h5, h6, h7 {
    text-align:left;
    margin:0;
    padding:0;
    font-weight:normal;
}
h1 {
    font-size:200%;
}

h1 a:hover {
    background:black;
    color:white;
}

h1 a {
    text-decoration:none;
    color:black;
    width:100%;
    display:block;
}

.show {
    display:none;
}

.hide {
    display:block;
}

.column {
    box-sizing:border-box;
    border-left:1px solid black;
    min-height:100%;
    
}

.column a:hover {
    background:black;
    color:white;
}

.event {
    box-sizing:border-box;
    border-top:1px solid #00F;
    border-left:1px solid #00F;    
    position:absolute;
    background:white;
    font-size:9pt;
}

.event button {
    float:right;
    display:inline;
}
#buffer {
    position:fixed;
    top:100%;
    width:100%;
    height:90%;
}

.notebook-event-list {
    overflow:auto;
    width:50%;
    height:70%;
    margin-bottom:500px;
}

.note {
    width:100%;
    font-size:10pt;
    font-family:sans-serif;
    background:white;
    border-bottom:1px solid #ccc;
}

.note-inner {
    margin:0.5em;
    line-height:149%;
}
.note-event a {
    color:#884;
    text-decoration:none;
    border-bottom:1px solid #662;
    font-weight:bold;
}
.note-event {
    color:#884;
    padding:0.5em;
}
.note-nav {
    text-align:right;
}

.public-DraftEditor-content {
    margin-top:0.5em;
    padding:0.5em;
    font-family:serif;
    font-size:13pt;
    border:1px dotted #ccc;
    background:#eec;
}

.public-DraftEditor-content:focus {
    background:white;
}

.Manuscript {
    width:49%;
    margin-left:50%;
    background:#fff;
    border-left:1px dotted black;
    height:100%;
    top:0;
    position:absolute;

}

.active-true {
    background:black;
    color:white;
}

.Timelist {
    position:fixed;
    top:10%;
    height:90%;
    overflow:auto;
    width:50%;
    left:0;
             
}

textarea {
    width:95%;
}

button.new {
    display:block;
    float:right;
}

.EventEditor {
    position:fixed;
    width:50%;
    left:25%;
    top:25%;
    background:yellow;
    opacity:80%;
}

.Timelist {
    width:100%;
    width:50%;
    height:90%;
    top:10%;
    position:fixed;
    overflow:auto;
    
}
.timelist-event {
    border-bottom:1px solid #ccc;
    padding:1em;
}

.dtsince {
    background:black;
    color:white;
}

.event-meta {
    float:right;
    text-align:right;
    position:absolute;
    right:0;
}
.event-meta a {
    text-decoration:none;
}

.button, button, input.inputButton {
    color:black;
    padding:1pt 2pt 1pt 2pt;
    font-size:8pt;
    background:#f00;
    color:white;
    border:1px solid #ccc;
    margin:-10px 0px 0px 2px;
  vertical-align:middle; 
    
    border-radius:4px;
    cursor:pointer;
    box-shadow: 1pt 1pt 2pt #cccccc;
}

.button:active, .button:hover,
button:active, button:hover,
input.inputButton:active {
    background:white;
    color:black;
}
.login {
    padding:0.5em 1em 0 0;

    font-weight:bold;
    float:right;

    text-align:right;
}
button.logout {
    margin-left:1em;
}

.searchBox {
    padding:1em 0 1em 0;
    width:75%;
    background:white;
    text-transform:uppercase;
    
}

.subsearch {
    padding-left:0.5em;
    width:20%;
    font-size:9pt;
    line-height:149%;
}

.subsearch input {
    padding:0.05em;
    width:10%;
    background:#eee;
    border:1px solid gray;
    padding-left:0.25em;
    text-transform:none;    
    font-size:9pt;
}

input.loginButton {
    background:red;
    border:pink;
    color:white;
    font-weight:bold;
}

th {
    font-weight:normal;
    text-transform:uppercase;
    font-size:9pt;
}

.rangeInput {
    width:90%;
}

.move-target {
    background:yellow;
    width:100%;
    height:10%;
}


.order {
    font-size:100%;
    display:block;
    float:right;
    margin-right:0.5em;
    
}

.saved {
    color:darkgreen;
    text-shadow: 0 0 5px darkgreen;
    
}

.unsaved {
    color:red;
    text-shadow: 0 0 5px red;    
}

span.status {
    padding-left:0.5em;
    text-align:right;
}
th {text-align:right;}

