body {
    margin: 0;
    padding: 0;
    position: fixed;
    font-size: 11.5pt;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: deepskyblue;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 200%;
    color: #006485;
}

h1 a:hover {
    color: lightskyblue;
}

.Panel .breadcrumbs {
}

.Panel h1 {
    background-color: deepskyblue;
    width: 100%;
    display: block;
}
.Panel h1 a {
    text-decoration: none;
    color: white;
}

.input,
th,
td {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 150%;
    color: #666;
}

.App {
    width: 100%;
    height: 100%;
    position: fixed;
}

.Nav {
    padding-left: 1em;
    width: 100%;
    min-height: 5%;
    position: fixed;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
}
.Nav a {
    color: deepskyblue;
    text-decoration: none;
    padding: 0 0.25em 0 0.25em;
}

.Nav .logo {
    font-weight: bold;
    color: black;
    padding: 0 0.25em 0 0;
}

.Nav a:hover {
    text-decoration: underline;
}
.Nav .current-notebook {
    padding-right: 0.25em;
    font-size: 150%;
    background: deepskyblue;
    color: white;
    border: 1px solid skyblue;
    padding: 0 0.5em 0 0.5em;
}
.Timeline,
.Editor,
.NotebookList,
.Manuscript,
.TimelineList,
.Timelist,
.Meta {
    border-top: 1px solid deepskyblue;
    top: 5%;
    height: 95%;
    position: fixed;
    background-color: white;
}

.Timeline {
    width: 200%;
    height: 95%;
    position: fixed;
    z-index: 0;
}

.Editor,
.NotebookList,
.TimelineList,
.Meta {
    width: 100%;
    background: white;
    padding: 0% 0% 0% 0%;
}
.Meta {
    border-right: 3px solid deepskyblue;
}
.TimelineList,
.NotebookList {
    width: 100%;
    background: white;
    padding: 0% 0% 0% 0%;
}

.Notebook {
    border: 1px solid deepskyblue;
    width: 40%;
    padding-bottom: 500px;
    position: fixed;
    top: 5%;
}
.notebook-inner {
    padding: 1em;
}
.Editor {
    width: 100%;
}

.NotebookList {
    left: 0%;
}

.TimelineList {
    left: 0%;
}

#Panels {
    height: 100%;
}

.Panel {
    height: 100%;
    background: lightskyblue;
    float: left;
    position: absolute;
    cursor: ew-resize;
}

.Panel h1 {
    font-size: 11.5pt;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: normal;
    left: 0.25em;
    border-top: 1px solid deepskyblue;
}
.Panel h1 a {
    font-weight: normal;
    display: inline;
}

.column {
    box-sizing: border-box;
    border-left: 1px solid deepskyblue;
    min-height: 96%;
    float: left;
    font-size: 11.5pt;
    text-align: center;
    height: 100%;
    padding-top: 0.25%;
}

.column a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: white;
}

.column a:hover {
    background: black;
    color: white;
}

.event {
    box-sizing: border-box;
    position: absolute;
    font-size: 9pt;
}

.event-inner {
    background: white;
    padding: 2.5%;
    margin: 2.5%;
    border-top: 1px solid deepskyblue;
    border-left: 1px solid deepskyblue;
    border-radius: 0.75em;
}

.event-panel-event-text {
    max-height: 200px;
    overflow: auto;
}
.event button {
    float: right;
    display: inline;
}

#buffer {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 95%;
}

.Note {
    margin-top: 1em;
    min-height: 15em;
    border: 1px solid skyblue;
    padding: 1em;
    font-size: 10pt;
    font-family: sans-serif;
    background: white;
}

.note-inner {
    margin: 0em;
    line-height: 149%;
}

.note-event a {
    text-decoration: none;
    border-bottom: 1px solid #662;
    font-weight: bold;
}

.note-event-scroll {
    border: 1px solid deepskyblue;
}
.note-event {
    padding: 1em;
    margin: 0;
    color: #888;
    max-height: 8em;
}

.note-nav {
    padding-bottom: 2em;
}

.active-true {
    background: black;
    color: white;
}

div.Timelist {
    width: 100%;
    left: 0%;
    height: 95%;
    top: 5%;
    position: fixed;
    background: white;
}

div.Timelist table {
    width: 90%;
    padding-bottom: 1000px;
}
.timelist-image {
    width: 150px;
    height: 100px;
    object-fit: contain;
}
.timelist-image {
    object-position: right top;
}

div.Timelist div.timelist-meta-content {
}

div.Timelist div.timelist-meta h1 a {
    text-decoration: none;
    color: deepskyblue;
}

div.Timelist div.citation a {
    text-decoration: none;
    color: deepskyblue;
}

div.Timelist div.timespan {
    font-style: italic;
    padding: 1em 0 1em 0;
}

div.Timelist div.description {
    color: #666;
    font-size: 100%;
    line-height: 1.5em;
    font-style: Italic;
}

div.Timelist table.meta {
    border-left: 1px solid #ccc;
    float: right;
}

div.Timelist table.meta tr {
}

div.Timelist table.meta th {
    width: 25%;
    padding-right: 0.5em;
}

div.Timelist table.meta td,
div.Timelist table.meta th {
    padding-left: 0.5em;
    vertical-align: top;
    line-height: 150%;
}

div.Timelist div.description i,
div.Timelist div.description em {
    padding-top: 1em;
    font-style: normal;
}

div.timelist-event-meta span {
    padding-right: 0.5em;
}

div.timelist-event-meta a {
    color: #888;
}

table {
    border-collapse: collapse;
}

tr.timelist {
    border-bottom: 1px solid #ccc;
}
tr.timelist td {
    vertical-align: top;
}

.timeline-image {
    width: 75px;
    max-height: 75px;
    float: left;
    margin: 0 1em 1em 0;
    border: 1px solid #ccc;
    max-height: 200px;
}

td.meta {
    text-align: right;
    font-size: 9pt;
    line-height: 125%;
}

div.collection {
    text-align: right;
}

div.collection div {
    margin-bottom: 0.5em;
}

td.content {
    width: 85%;
    overflow: hide;
    color: #555;
    font-size: 11pt;
    padding: 0;
}

td.content pre {
    background: #eee;
    width: 50%;
    font-size: 8pt;
    overflow-x: auto;
    font-family: 'IBM Plex Mono', monospace;
}

td.content div.text {
    width: 100%;
    overflow-x: auto;
}

td.content .event-title {
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    padding: 0.5em 0 0.5em 0;
    /*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace;
*/
}

td.image {
    height: 100%;
}

td a {
    text-decoration: none;
    color: deepskyblue;
}

div.dt {
    font-weight: bold;
    color: #444;
}

div.title {
    font-size: 10pt;
}

.dtsince {
    background: blue;
    color: white;
    padding-left: 1em;
}

button,
.list-object-button,
.button,
input.inputButton {
    font-size: 10pt;
    font-weight: normal;
    margin: 0 0.5em 0 0;
    padding: 0 0.5em 0 0.5em;
    background: white;
    color: black;
    border: 1px solid skyblue;
    border-radius: 4px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
}

.list-object-button {
    font-size: 120%;
}
.edit-link {
    margin: 0 0.5em 0 0.25em;
}

.list-object-button:active,
.list-object-button:hover,
.button:active,
.button:hover,
button:active,
button:hover,
input.inputButton:active {
    background: white;
    color: black;
}
.login {
    padding: 0.5em 1em 0 0;

    font-weight: bold;
    float: right;

    text-align: right;
}
.user-profile-form td {
    padding: 0.5em;
    font-size: 125%;
}
.user-profile-form td input {
    font-size: 125%;
    padding: 0.25em;
    border: 1px solid black;
}
button.logout {
    margin-left: 1em;
}

.subsearch {
    padding-left: 0.5em;
    width: 20%;
    font-size: 9pt;
    line-height: 149%;
}

.subsearch input {
    padding: 0.05em;
    width: 10%;
    background: #eee;
    border: 1px solid gray;
    padding-left: 0.25em;
    text-transform: none;
    font-size: 9pt;
}

th {
    font-weight: normal;
}

.rangeInput {
    width: 90%;
}

.move-target {
    background: yellow;
    width: 100%;
    height: 10%;
}

.order {
    font-size: 100%;
    display: block;
    float: right;
    margin-right: 0.5em;
}

span.status {
    padding-left: 0.5em;
    text-align: right;
}
th {
    text-align: right;
}

div.search-ruby {
    font-size: 8pt;
    color: #888;
    width: 100%;
    text-align: center;
}

form.search {
    display: inline;
}
form.search input {
    width: 25%;
}

.About {
    text-align: justify;
    hyphens: auto;
    line-height: 150%;
    padding: 5% 0% 10% 10%;
    width: 70%;
    font-size: 120%;
    margin: 0;
}

.About h1,
.About h2,
.About h3 {
    line-height: 150%;
    font-weight: normal;
    padding: 1em 0 0 0;
}

.About h1 {
    padding: 0 0 0.5em 0;
}

.Profile {
    text-align: justify;
    hyphens: auto;
    line-height: 150%;
    padding: 5% 0% 10% 10%;
    width: 70%;
    font-size: 120%;
    margin: 0;
}

div.loading {
    width: 100%;
    padding: 3em 0 0 0;
    text-align: center;
    opacity: 1;
    animation: fade 0.5s linear;
}

@keyframes fade {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* 
   Listings of timelines and notebooks.
*/

.list-object {
    padding: 2.5%;
    margin: 0;
    height: 100%;
    width: 100%;
}

table.list-object-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

tr.list-object-tr {
    border-bottom: 1px solid #ccc;
}

table.list-object-table th {
    font-weight: bold;
    vertical-align: bottom;
}

table.list-object-table td {
    vertical-align: top;
}
table.list-object-table td,
table.list-object-table th {
    font-size: 11pt;
    padding: 1.25em 0.5em 1.25em 0;
}
td.list-object-date-td,
th.list-object-date-th {
    width: 20%;
    text-align: right;
}
td.list-object-creator-td,
th.list-object-creator-th {
    width: 20%;
    text-align: left;
}
td.list-object-meta-td,
th.list-object-meta-th {
    width: 80%;
    text-align: left;
}
div.list-object-title {
}

div.list-object-title a {
    color: deepskyblue;
}

div.list-object-byline {
}
div.list-object-description {
    font-variant: Italic;
}
div.list-object-published-Public {
    font-weight: bold;
}
div.list-object-published-Private {
    font-weight: normal;
}

.rte-citation-editor input,
.rte-link-editor input,
.quill,
.ql-container {
    padding: 0;
    margin: 0;
    padding: 1% 0 1% 0;
    border: none;
    font-size: 13pt;
    line-height: 150%;
    color: black;
    font-family: 'IBM Plex Sans', monospace;
}
.ql-container,
.ql-editor {
    padding: 0;
}

div.rte-title-editor {
    font-size: 150%;
}

.input-title {
    color: #aaa;
    font-size: 10pt;
    color: deepskyblue;
    border-top: 1px dotted deepskyblue;
    margin: 0.25em 0 2em 0;
}

div.is-published-toggle label {
    padding-right: 0.5em;
    color: #444;
}

div.is-published-toggle {
    display: flex;
    align-items: center;
    width: 25%;
    margin-right: -1em;
}

button.timeline-meta-done-button {
    font-size: 11.5pt;
    padding: 0.15em 0.5em 0.15em 0.5em;
    margin: 0 1em 0 0;
    font-weight: bold;
    background: red;
    border: none;
    color: white;
    float: left;
}

span.button-nav {
}

table.timeline-event td,
table.timeline-event th {
    vertical-align: top;
    background: white;
    /*    border:1px solid black; */
}

table.timeline-event p {
    padding: 0;
    margin: 0;
}

.note-nav {
    display: flex;
    justify-content: space-between;
}
.count,
.delete {
    font-size: 150%;
    font-weight: bold;
    padding: 0.25em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    display: block;
    width: 5%;
    text-align: center;
    transition: background 0.5s ease-in;
    cursor: pointer;
}
.count {
    color: white;
    background: lightskyblue;
    border: 1px solid deepskyblue;
}
.delete {
    text-align: right;
    width: 1em;
    font-size: 150%;
    border: none;
}

.Auth {
    position: fixed;
    background: white;
    border-top: 1px solid deepskyblue;
    padding: 5%;
    width: 100%;
    height: 95%;
    top: 5%;
}

.color-primary-0 {
    color: #00bfff;
} /* Main Primary color */
.color-primary-1 {
    color: #31c9fc;
}
.color-primary-2 {
    color: #08c1ff;
}
.color-primary-3 {
    color: #0084b0;
}
.color-primary-4 {
    color: #006485;
}

.color-secondary-1-0 {
    color: #ffb400;
} /* Main Secondary color (1) */
.color-secondary-1-1 {
    color: #ffc02a;
}
.color-secondary-1-2 {
    color: #ffb400;
}
.color-secondary-1-3 {
    color: #ffb400;
}
.color-secondary-1-4 {
    color: #d59600;
}

.color-secondary-2-0 {
    color: #ff2800;
} /* Main Secondary color (2) */
.color-secondary-2-1 {
    color: #ff4b2a;
}
.color-secondary-2-2 {
    color: #ff2800;
}
.color-secondary-2-3 {
    color: #ff2800;
}
.color-secondary-2-4 {
    color: #d52100;
}

.saved {
    border: 1px solid skyblue;
    background: deepskyblue;
}

.unsaved {
    border: 1px solid #ff2800;
    background: #d52100;
}

.moving {
    background-color: gray;
}

.target {
    background-color: #ffb400;
}

/* MANUSCRIPT */

.Manuscript {
    position: absolute;
    top: 5%;
    left: 66.6666%;
    width: 33.3333%;
    border-left: 1px solid deepskyblue;
}

.ManuscriptReader {
    position: absolute;
    top: 5%;
    width: 100%;
    border-top: 1px solid deepskyblue;
}

div.manuscript-inner {
    height: 95%;
    /*    background:#31C9FC;
    background:#08C1FF;
    background:#0084B0; */
    background: white;
    color: black;
    font-family: 'IBM Plex Serif', serif;
    width: 100%;
    hyphens: auto;
    padding-bottom: 1000px;
    line-height: 200%;
}

div.manuscript-inner h1,
div.manuscript-inner h2,
div.manuscript-inner .description {
    text-align: center;
    padding-top: 1em;
}

div.manuscript-inner h1 {
    font-size: 300%;
    line-height: 120%;
}

div.manuscript-inner .description {
    font-style: Italic;
    padding-bottom: 1em;
}

div.manuscript-sidebar {
    padding-top: 45%;
    width: 25%;
    border-left: 1px solid deepskyblue;
    float: right;
    height: 60%;
    margin-left: 2.5%;
}

div.manuscript-sidebar-event {
    margin-left: 2.5%;

    font-size: 80%;
    line-height: 125%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.reader h1 {
    text-align: center;
    line-height: 150%;
}
.reader h2 {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    line-height: 150%;
}
.reader .description {
    padding: 1em 0 1em 0;
    text-align: center;
    font-style: Italic;
}
.reader .manuscript-title {
    padding: 5em 5em 0 5em;
}
.reader .manuscript-body {
    padding: 1em 5em 10em 5em;
    line-height: 150%;
    font-size: 13pt;
}

span.switcher {
    color: deepskyblue;
}

.headline1 {
    font-size: 200%;
    line-height: 150%;
    display: block;
    text-align: center;
    padding-bottom: 1em;
}
.para {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}
.indent {
    display: block;
    padding-left: 3em;
    font-size: 90%;
    line-height: 200%;
    color: #444;
    padding-bottom: 1em;
}
.headline2 {
    font-size: 150%;
    line-height: 150%;
    display: block;
    text-align: center;
    padding-bottom: 1em;
}
.default {
}

.pre {
    font-family: monospace;
    white-space: pre;
}

input[type='range']:focus {
    outline: none;
}

div.notebook-buttons {
    right: 0%;
    position: fixed;
    top: 6%;
}
button.notebook-preview {
    color: white;
    background: deepskyblue;
}

a.active {
    background: red;
    color: white;
}

.event-image-upload {
    float: left;
    border: 2px dashed deepskyblue;
    width: 200px;
    height: 200px;
}
.dropzone-empty {
    width: 200px;
    height: 200px;
}

.event-input input,
.event-url input {
    font-size: 100%;
    border: none;
    width: 100%;
}

.event-note-button {
    float: right;
    color: white;
    background: deepskyblue;
    font-size: 140%;
}

td.event-editor-td {
    width: 75%;
}

.rte-citation-editor input,
.rte-link-editor input,
.event-editor-title,
.event-editor-text {
    padding: 0;
    margin: 0;
    padding: 1% 0 1% 0;
    border: none;
    font-size: 13pt;
    line-height: 150%;
    color: black;
    font-family: 'IBM Plex Sans', monospace;
}

div.event-editor-title .public-DraftStyleDefault-block {
    font-size: 150%;
}

.panelResults {
    margin: 5%;
    text-align: center;
}
.panelResults h1 {
    margin: 5%;
    text-align: center;
}

.profile-listing {
    margin: 0 1em 0 1em;
}
div.text {
}

.slider {
    width: 100%;
    border: red;
}

/* range slider */
.rangeslider-vertical {
    width: 5%;
    left: 95%;
    top: 5%;
    height: 90%;
    position: fixed;
}
.rangeslider-vertical .rangeslider__fill {
    background-color: red;
}
.rangeslider-vertical .rangeslider__handle {
    background-color: deepskyblue;
    height: 30px;
    border: 1px solid black;
}
.rangeslider .rangeslider__handle-tooltip {
    width: 10em;
    left: -7em;
    background-color: red;
}
