[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
"aniso8601" = "==3.0.0"
appdirs = "==1.4.3"
args = "==0.1.0"
"asn1crypto" = "==0.22.0"
"autopep8" = "==1.3.2"
"beautifulsoup4" = "==4.6.0"
blessings = "==1.6.1"
bpython = "==0.17.1"
"bs4" = "==0.0.1"
certifi = "==2017.4.17"
chardet = "==3.0.3"
click = "==6.7"
clint = "==0.5.1"
convertdate = "==2.1.1"
coreapi = "==2.3.1"
coreapi-cli = "==1.0.6"
coreschema = "==0.0.4"
curtsies = "==0.3.0"
datefinder = "==0.6.1"
defusedxml = "==0.5.0"
django-allauth = "==0.32.0"
django-cors-headers = "==2.2.0"
django-crispy-forms = "==1.6.1"
django-debug-toolbar = "==1.8"
django-filter = "==1.1.0"
django-rest-auth = "==0.9.1"
django-rest-knox = "==3.0.0"
django-rest-swagger = "==2.1.2"
django-silk = "==2.0.0"
djangorestframework = "==3.8.2"
djangorestframework-bulk = "==0.2.1"
djoser = "==0.5.4"
docopt = "==0.6.2"
ephem = "==3.7.7.1"
"gprof2dot" = "==2016.10.13"
graphql-core = "==2.0"
graphql-relay = "==0.4.5"
greenlet = "==0.4.13"
gunicorn = "==19.7.1"
humanize = "==0.5.1"
idna = "==2.5"
importmagic = "==0.1.7"
"iso8601" = "==0.1.12"
itypes = "==1.1.0"
jdatetime = "==1.8.2"
jedi = "==0.10.2"
jsonpatch = "==1.15"
jsonpointer = "==1.10"
maya = "==0.3.2"
oauthlib = "==2.0.2"
olefile = "==0.44"
openapi-codec = "==1.3.1"
pendulum = "==1.2.1"
"pep8" = "==1.7.0"
promise = "==2.1"
pycodestyle = "==2.3.1"
pycparser = "==2.17"
pyfav = "==0.1"
pyparsing = "==2.2.0"
python-baseconv = "==1.2.0"
python-dateutil = "==2.6.0"
"python3-openid" = "==3.1.0"
pytz = "==2017.2"
requests = "==2.17.3"
requests-oauthlib = "==0.8.0"
schema = "==0.6.6"
simplejson = "==3.10.0"
singledispatch = "==3.4.0.3"
six = "==1.10.0"
sqlparse = "==0.2.3"
typing = "==3.6.4"
tzlocal = "==1.4"
umalqurra = "==0.2"
uritemplate = "==3.0.0"
"urllib3" = "==1.21.1"
wcwidth = "==0.1.7"
xmltodict = "==0.11.0"
yapf = "==0.16.2"
Django = "==2.0.4"
"Jinja2" = "==2.9.6"
Markdown = "==2.6.11"
MarkupSafe = "==1.1.1"
Pillow = "==9.3.0"
Pygments = "==2.2.0"
pyOpenSSL = "==17.0.0"
"rope_py3k" = "==0.9.4.post1"
Rx = "==1.6.1"
pyvips = "*"
lxml = "*"
"base36" = "*"
django-bleach = "*"
cryptography = "*"
pytzdata = "*"
"psycopg2-binary" = "*"
drf-extensions = "==0.4.0"
python-memcached = "*"
docutils = "*"
"markdown2" = "*"
argparse = "*"
requests-cache = "*"
edtf = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.7"
