body {
      font:sans-serif;
      margin:auto;
}

.button {
    color:white;
    background:#3388cc;
    cursor:hand;
    text-transform:uppercase;
    font-family:sans-serif;
    font-size:8pt;
    padding:0.25em 0.5em 0.25em 0.5em;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4);
}

.button.active {
    color:white;
    background:red;
    cursor:hand;
    text-transform:uppercase;
    box-shadow:none;
}

.button:hover {
    color:white;
    background:red;
    cursor:hand;
    text-transform:uppercase;
}


div.move-button {
    font-size:100%;
    background:black;
    color:white;
    font-family:sans-serif;
    width:1em;
    height:1em;
    border:1px solid black;
}

div.ranger {
    border:1px solid black;
    cursor:hand;    
    width:50%;
    margin-left:25%;
}

div.prepend {
    opacity:0.6;
    width:100%;
    height:100%;
    cursor:hand;
}

div.selected {
    opacity:0.1;
}

div#notebook {
    width:50%;
    position:fixed;
    height:100%;
    margin-left:auto;
    border-right:1px solid black;
}

div#notebook-head {
    height:5%;
    padding-left:0.25em;
    position:relative;
}

div#notebook-controls {
    position:absolute;
    bottom:12.5%;
}

div#notebook-body {
    width:100%;
    margin-left:auto;
    overflow:hidden;
}
div#notebook-items {
    height:95%;    
    overflow:auto;
    width:49%;
    float:left;    
}
div#notebook-essay {
    background:white;
    height:100%;
    overflow:auto;
    width:45%;
    float:left;
    padding:2.5%;
    line-height:149%;
    font-size:14pt;
    padding-bottom:250px;
}
div.buttons span.button {
    font-size:75%;
}
div#notebook-essay h2 {
    line-height:139%;
}
div#notebook-essay h3 {
    font-style:italic;
    font-weight:normal;
    line-height:139%;
    font-family:'Hoefler Text', Georgia;
    color:#884444;
}

span.focused {
    background:#eeeeff;
}
div.nb-item {
    background:white;
}
div.nb-item .top {
    border-bottom:1px dotted #ccc;
    border-top:1px solid #ccc;
    padding:1em 0.25em 1em 0.25em;
}
div.nb-item, div.nb-final {
    background:white;
}

div.nb-item.spacer {
    width:100%;
    height:25px;
}

div.nb-item.spacer div.editable {
    display:none;    
}
div.buttons {
    padding-top:2px;
    padding-right:-2px;
    float:right;
    font-size:75%;
}
div.buttons span.button {
    margin-left:2px;
}
div.editable {
    font-size:11pt;
    background:white;
    padding:1em 0.25em 1em 0.25em;
    font-family:sans-serif;
}

div.save-state {
    float:left;
    width:1em;
    color:white;
}

div.save-state.false {
    background-color:red;
}

div.save-state.true {
    background-color:green;
}
